@font-face {
    font-family: 'Inconsolata';
    src: url('/fonts/Inconsolata-Regular.woff2') format('woff2'),
        url('/fonts/Inconsolata-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-stretch: 100%;
}

@font-face {
    font-family: 'Agbalumo';
    src: url('/fonts/Agbalumo-Regular.woff2') format('woff2'),
        url('/fonts/Agbalumo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-stretch: 100%;
}
