{% extends '_base.html' %}

{% block header %}
    <h2 class="text-xl mb-4">{% block title %}Register{% endblock %}</h2>
{% endblock %}

{% block content %}
    <form action="" method="post" class="flex flex-col w-1/2">
        <div class="mb-2">
            <label class="block" for="username">Username</label>
            <input class="mt-1 appearance-none block w-full focus:ring-amber-400 focus:border-amber-400" type="text" name="username" id="username" required>
        </div>
        <div class="mb-5">
            <label class="block" for="password">Password</label>
            <input class="mt-1 appearance-none block w-full focus:ring-amber-400 focus:border-amber-400" type="text" name="password" id="password" required>
        </div>
        <button type="submit" class="btn-primary">Create user</button>
    </form>
{% endblock %}